In [1]:
import numpy as np

In [2]:
import pandas as pd

# Load the Data

In [3]:
df = pd.read_csv("../data/cells_w_lineage.csv")

In [4]:
df.shape

(1226, 3)

In [5]:
df

,CCLE_Name,lineage,lineage_subtype
0,HL60_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,blood,AML
1,HEL_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,blood,AML
2,HEL9217_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,blood,AML
3,MONOMAC6_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,blood,AML
4,LS513_LARGE_INTESTINE,colorectal,colorectal_adenocarcinoma
...,...,...,...
1221,HUH6CLONE5,liver,hepatoblastoma
1222,SARC9371_BONE,bone,osteosarcoma
1223,LIM1215_LARGE_INTESTINE,colon,colon_adenocarcinoma
1224,WM793B_SKIN,skin,melanoma
1225,WT,WT,WT

# EDA

### Each row has a unique name

In [6]:
len(df['CCLE_Name'].unique())

1225

In [7]:
df['lineage'].unique()

array(['blood', 'colorectal', 'skin', 'urinary_tract', 'lung', 'ovary',
       'breast', 'pancreas', 'plasma_cell', 'central_nervous_system',
       'soft_tissue', 'lymphocyte', 'bone', 'kidney', 'gastric',
       'thyroid', 'peripheral_nervous_system', 'prostate', 'fibroblast',
       'bile_duct', 'uterus', 'upper_aerodigestive', 'liver', 'esophagus',
       'cervix', 'unknown', 'adrenal_cortex', 'epidermoid_carcinoma',
       'engineered', 'embryo', 'colon', 'WT'], dtype=object)

In [8]:
len(df['lineage'].unique())

32

In [9]:
df['lineage_subtype'].unique()

array(['AML', 'colorectal_adenocarcinoma', 'melanoma',
       'bladder_carcinoma', 'NSCLC', 'ovary_adenocarcinoma',
       'breast_carcinoma', 'ALL', 'exocrine', 'multiple_myeloma',
       'glioma', 'thyroid_sarcoma', 'lymphoma_unspecified',
       'Ewing_sarcoma', 'breast_ductal_carcinoma', 'renal_cell_carcinoma',
       'gastric_adenocarcinoma', 'rhabdomyosarcoma',
       'non_hodgkin_lymphoma', 'fibrosarcoma', 'medulloblastoma',
       'thyroid_carcinoma', 'hodgkin_lymphoma', 'CML', 'neuroblastoma',
       'osteosarcoma', 'mesothelioma', 'prostate_adenocarcinoma',
       'malignant_rhabdoid_tumor', 'breast_adenocarcinoma', 'SCLC',
       'fibroblast_soft_tissue', 'fibroblast_skin',
       'gallbladder_adenocarcinoma', 'leiomyosarcoma', 'thyroid_squamous',
       'endometrial_adenocarcinoma', 'prostate_small_cell',
       'upper_aerodigestive_squamous', 'cholangiocarcinoma',
       'hepatocellular_carcinoma', 'gastric_small_cell', 'brenner_tumor',
       'mullerian_carcinoma', 'esophagus_squamous', 'CLL', 'endocrine',
       'caecum_adenocarcinoma', 'esophagus_adenocarcinoma', 'MMMT',
       'chondrosarcoma', 'uterine_sarcoma', nan,
       'duodenal_adenocarcinoma', 'cervical_carcinoma', 'hepatoblastoma',
       'ovary_carcinoma', 'lung_carcinoid', 'pleomorphic_sarcoma',
       'endometrial_stromal_sarcoma', 'endometrial_adenosquamous',
       'merkel_cell_carcinoma', 'synovial_sarcoma', 'skin_squamous',
       'cervical_squamous', 'cervical_adenocarcinoma', 'mixed_germ_cell',
       'adrenal_carcinoma', 'skin_squamous ', 'prostate_hyperplasia',
       'lung_carcinoma', 'choriocarcinoma', 'endometrial_squamous',
       'PNET', 'epithelioid_sarcoma', 'upper_aerodigestive_carcinoma',
       'granulosa_cell_tumor', 'cervical_small_cell',
       'hairy_cell_leukemia', 'malignant_fibrous_histiocytoma',
       'acute_biphenotypic_leukemia', 'NKC', 'liposarcoma',
       'colon_adenocarcinoma', 'WT'], dtype=object)

In [10]:
len(df['lineage_subtype'].unique())

85

In [11]:
len((df['lineage'] + "-" + df['lineage_subtype']).unique())

88

In [12]:
(df['lineage'] + "-" + df['lineage_subtype']).unique()

array(['blood-AML', 'colorectal-colorectal_adenocarcinoma',
       'skin-melanoma', 'urinary_tract-bladder_carcinoma', 'lung-NSCLC',
       'ovary-ovary_adenocarcinoma', 'breast-breast_carcinoma',
       'blood-ALL', 'pancreas-exocrine', 'plasma_cell-multiple_myeloma',
       'central_nervous_system-glioma', 'soft_tissue-thyroid_sarcoma',
       'lymphocyte-lymphoma_unspecified', 'bone-Ewing_sarcoma',
       'breast-breast_ductal_carcinoma', 'kidney-renal_cell_carcinoma',
       'gastric-gastric_adenocarcinoma', 'soft_tissue-rhabdomyosarcoma',
       'lymphocyte-non_hodgkin_lymphoma', 'soft_tissue-fibrosarcoma',
       'central_nervous_system-medulloblastoma',
       'thyroid-thyroid_carcinoma', 'lymphocyte-hodgkin_lymphoma',
       'blood-CML', 'peripheral_nervous_system-neuroblastoma',
       'bone-osteosarcoma', 'lung-mesothelioma',
       'prostate-prostate_adenocarcinoma',
       'kidney-malignant_rhabdoid_tumor', 'breast-breast_adenocarcinoma',
       'lung-SCLC', 'fibroblast-fibroblast_soft_tissue',
       'fibroblast-fibroblast_skin',
       'bile_duct-gallbladder_adenocarcinoma',
       'soft_tissue-leiomyosarcoma', 'thyroid-thyroid_squamous',
       'uterus-endometrial_adenocarcinoma',
       'prostate-prostate_small_cell',
       'upper_aerodigestive-upper_aerodigestive_squamous',
       'bile_duct-cholangiocarcinoma',
       'soft_tissue-malignant_rhabdoid_tumor',
       'liver-hepatocellular_carcinoma', 'gastric-gastric_small_cell',
       'ovary-brenner_tumor', 'uterus-mullerian_carcinoma',
       'esophagus-esophagus_squamous', 'blood-CLL', 'pancreas-endocrine',
       'colorectal-caecum_adenocarcinoma',
       'esophagus-esophagus_adenocarcinoma', 'uterus-MMMT',
       'bone-chondrosarcoma', 'soft_tissue-uterine_sarcoma', nan,
       'gastric-duodenal_adenocarcinoma', 'cervix-cervical_carcinoma',
       'liver-hepatoblastoma', 'ovary-ovary_carcinoma',
       'lung-lung_carcinoid', 'soft_tissue-pleomorphic_sarcoma',
       'uterus-endometrial_stromal_sarcoma',
       'uterus-endometrial_adenosquamous', 'skin-merkel_cell_carcinoma',
       'soft_tissue-synovial_sarcoma', 'skin-skin_squamous',
       'cervix-cervical_squamous', 'cervix-cervical_adenocarcinoma',
       'ovary-mixed_germ_cell', 'adrenal_cortex-adrenal_carcinoma',
       'epidermoid_carcinoma-skin_squamous ',
       'prostate-prostate_hyperplasia', 'lung-lung_carcinoma',
       'uterus-choriocarcinoma', 'uterus-endometrial_squamous',
       'peripheral_nervous_system-PNET',
       'soft_tissue-epithelioid_sarcoma', 'central_nervous_system-PNET',
       'upper_aerodigestive-upper_aerodigestive_carcinoma',
       'ovary-granulosa_cell_tumor', 'gastric-choriocarcinoma',
       'cervix-cervical_small_cell', 'blood-hairy_cell_leukemia',
       'soft_tissue-malignant_fibrous_histiocytoma',
       'blood-acute_biphenotypic_leukemia', 'blood-NKC',
       'soft_tissue-liposarcoma', 'colon-colon_adenocarcinoma', 'WT-WT'],
      dtype=object)

In [13]:
data = [ df['CCLE_Name'] , df['lineage'] + "-" + df['lineage_subtype']]

# Create a new dataframe

In [14]:
new_df = df[['CCLE_Name', 'lineage_subtype']]
new_df

                                        CCLE_Name            lineage_subtype
0         HL60_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE                        AML
1          HEL_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE                        AML
2      HEL9217_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE                        AML
3     MONOMAC6_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE                        AML
4                           LS513_LARGE_INTESTINE  colorectal_adenocarcinoma
...                                           ...                        ...
1221                                   HUH6CLONE5             hepatoblastoma
1222                                SARC9371_BONE               osteosarcoma
1223                      LIM1215_LARGE_INTESTINE       colon_adenocarcinoma
1224                                  WM793B_SKIN                   melanoma
1225                                           WT                         WT

[1226 rows x 2 columns]

In [15]:
unique_types = new_df['lineage_subtype'].unique()

In [16]:
new_df['lineage_subtype'].unique()

array(['AML', 'colorectal_adenocarcinoma', 'melanoma',
       'bladder_carcinoma', 'NSCLC', 'ovary_adenocarcinoma',
       'breast_carcinoma', 'ALL', 'exocrine', 'multiple_myeloma',
       'glioma', 'thyroid_sarcoma', 'lymphoma_unspecified',
       'Ewing_sarcoma', 'breast_ductal_carcinoma', 'renal_cell_carcinoma',
       'gastric_adenocarcinoma', 'rhabdomyosarcoma',
       'non_hodgkin_lymphoma', 'fibrosarcoma', 'medulloblastoma',
       'thyroid_carcinoma', 'hodgkin_lymphoma', 'CML', 'neuroblastoma',
       'osteosarcoma', 'mesothelioma', 'prostate_adenocarcinoma',
       'malignant_rhabdoid_tumor', 'breast_adenocarcinoma', 'SCLC',
       'fibroblast_soft_tissue', 'fibroblast_skin',
       'gallbladder_adenocarcinoma', 'leiomyosarcoma', 'thyroid_squamous',
       'endometrial_adenocarcinoma', 'prostate_small_cell',
       'upper_aerodigestive_squamous', 'cholangiocarcinoma',
       'hepatocellular_carcinoma', 'gastric_small_cell', 'brenner_tumor',
       'mullerian_carcinoma', 'esophagus_squamous', 'CLL', 'endocrine',
       'caecum_adenocarcinoma', 'esophagus_adenocarcinoma', 'MMMT',
       'chondrosarcoma', 'uterine_sarcoma', nan,
       'duodenal_adenocarcinoma', 'cervical_carcinoma', 'hepatoblastoma',
       'ovary_carcinoma', 'lung_carcinoid', 'pleomorphic_sarcoma',
       'endometrial_stromal_sarcoma', 'endometrial_adenosquamous',
       'merkel_cell_carcinoma', 'synovial_sarcoma', 'skin_squamous',
       'cervical_squamous', 'cervical_adenocarcinoma', 'mixed_germ_cell',
       'adrenal_carcinoma', 'skin_squamous ', 'prostate_hyperplasia',
       'lung_carcinoma', 'choriocarcinoma', 'endometrial_squamous',
       'PNET', 'epithelioid_sarcoma', 'upper_aerodigestive_carcinoma',
       'granulosa_cell_tumor', 'cervical_small_cell',
       'hairy_cell_leukemia', 'malignant_fibrous_histiocytoma',
       'acute_biphenotypic_leukemia', 'NKC', 'liposarcoma',
       'colon_adenocarcinoma', 'WT'], dtype=object)

In [17]:
new_df['lineage_subtype'] == new_df['lineage_subtype'].unique()[0]

0        True
1        True
2        True
3        True
4       False
        ...
1221    False
1222    False
1223    False
1224    False
1225    False
Name: lineage_subtype, Length: 1226, dtype: bool

In [18]:
new_col_name = 'id'

In [19]:
new_df[new_col_name] = np.nan

In [20]:
new_df

,CCLE_Name,lineage_subtype,id
0,HL60_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,AML,NaN
1,HEL_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,AML,NaN
2,HEL9217_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,AML,NaN
3,MONOMAC6_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,AML,NaN
4,LS513_LARGE_INTESTINE,colorectal_adenocarcinoma,NaN
...,...,...,...
1221,HUH6CLONE5,hepatoblastoma,NaN
1222,SARC9371_BONE,osteosarcoma,NaN
1223,LIM1215_LARGE_INTESTINE,colon_adenocarcinoma,NaN
1224,WM793B_SKIN,melanoma,NaN
1225,WT,WT,NaN

In [21]:
for i in range (len(unique_types)):
    new_df.id[new_df['lineage_subtype'] == unique_types[i]] = i

<ipython-input-21-356123ff59c1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.id[new_df['lineage_subtype'] == unique_types[i]] = i

In [22]:
new_df

,CCLE_Name,lineage_subtype,id
0,HL60_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,AML,0.0
1,HEL_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,AML,0.0
2,HEL9217_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,AML,0.0
3,MONOMAC6_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,AML,0.0
4,LS513_LARGE_INTESTINE,colorectal_adenocarcinoma,1.0
...,...,...,...
1221,HUH6CLONE5,hepatoblastoma,55.0
1222,SARC9371_BONE,osteosarcoma,25.0
1223,LIM1215_LARGE_INTESTINE,colon_adenocarcinoma,83.0
1224,WM793B_SKIN,melanoma,2.0
1225,WT,WT,84.0

# Assign each subtype a unique id

In [23]:
new_df.id.unique()

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25.,
       26., 27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38.,
       39., 40., 41., 42., 43., 44., 45., 46., 47., 48., 49., 50., 51.,
       nan, 53., 54., 55., 56., 57., 58., 59., 60., 61., 62., 63., 64.,
       65., 66., 67., 68., 69., 70., 71., 72., 73., 74., 75., 76., 77.,
       78., 79., 80., 81., 82., 83., 84.])

In [24]:
new_df.id.dtype

dtype('float64')

In [25]:
new_df = new_df.fillna(value=-1)

In [26]:
new_df = new_df.astype({'id': 'int32'})

In [27]:
new_df['id'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, -1, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84],
      dtype=int32)

# Write dataframe to a csv file

In [28]:
new_df.to_csv('../data/targets.txt', index=False)

In [33]:
new_df[new_df.id == -1]

                                        CCLE_Name lineage_subtype  id
390                                     LI7_LIVER              -1  -1
901   RPMI6666_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE              -1  -1
908                                   TK10_KIDNEY              -1  -1
997                                COLO824_BREAST              -1  -1
1102                                  SW962_VULVA              -1  -1
1110     ARH77_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE              -1  -1
1132                DOK_UPPER_AERODIGESTIVE_TRACT              -1  -1
1137              H3118_UPPER_AERODIGESTIVE_TRACT              -1  -1
1145       IM9_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE              -1  -1
1168     MCCAR_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE              -1  -1
1184                                  NEC8_TESTIS              -1  -1
1209    WIL2NS_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE              -1  -1

In [34]:
df[new_df.id == -1]

,CCLE_Name,lineage,lineage_subtype
390,LI7_LIVER,liver,NaN
901,RPMI6666_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,unknown,NaN
908,TK10_KIDNEY,kidney,NaN
997,COLO824_BREAST,breast,NaN
1102,SW962_VULVA,skin,NaN
1110,ARH77_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,engineered,NaN
1132,DOK_UPPER_AERODIGESTIVE_TRACT,upper_aerodigestive,NaN
1137,H3118_UPPER_AERODIGESTIVE_TRACT,upper_aerodigestive,NaN
1145,IM9_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,engineered,NaN
1168,MCCAR_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,engineered,NaN
1184,NEC8_TESTIS,embryo,NaN
1209,WIL2NS_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE,engineered,NaN